<div ng-show="showLinkStatus" ng-mouseenter="mouseEnter()" ng-mouseleave="mouseLeave()">
    <div class="pull-right" ng-show="showTools">
        <a class="pointer" class="pointer" ng-click="showEditAction()"><span class="fa fa-pencil"></span></a>
        <a class="pointer" ng-click="showDeleteAction()"><span class="fa fa-trash"></span></a>
    </div>
    <a href="{{ bookmark.link }}" target="_blank">{{ bookmark.title|html_decode }}</a>
</div>

<div ng-show="showDeleteStatus">
    Delete <a href="{{ bookmark.link }}" target="_blank">{{ bookmark.title|html_decode }}</a> ?
    <a class="pointer" ng-click="deleteBookmark()"><span class="fa fa-check"></span></a>
    <a class="pointer" ng-click="backAction()"><span class="fa fa-times"></span></a>
</div>


<form ng-show="showEditStatus" ng-submit="editBookmark()">
    <div class="input-group">
        <input class="form-control input-sm" type="url" name="link" ng-model="newLink">
        <span class="input-group-btn">
            <button class="btn btn-sm btn-default"><span class="fa fa-check"></span></button>
            <span class="btn btn-sm btn-default" ng-click="backAction()"><span class="fa fa-times"></span></span>
        </span>
    </div>
</form>
