<h2>Login</h2>

<form ng-submit="getToken()" class="well form-horizontal">
    <ng-error error="error"></ng-error>

    <div class="row form-group">
        <label class="col-xs-6 col-sm-3 control-label" for="username">Username : </label>
        <div class="input-group col-xs-6 col-sm-4">
            <input ng-model="username" class="form-control" type="text" id="username" required="required" tabindex="1" autofocus />
        </div>
    </div>

    <div class="row form-group">
        <label class="col-xs-6 col-sm-3 control-label" for="password">Password</label>
        <div class="input-group col-xs-6 col-sm-4">
            <input ng-model="password" class="form-control" type="password" id="password" required="required" tabindex="2" />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-3">
            <input class="btn btn-primary col-xs-12 col-sm-2" type="submit" id="_submit" value="Login !" />
        </div>
    </div>
</form>