client/bower_components/*
server/vendor/*
server/var/cache/*
server/var/logs/*
server/var/sessions/*
.idea/
client/js/parameters.js
client/node_modules/*
client/js/output.min.js
client/css/output.css
